extends baseEmail


block content
    p.lead Hi #{firstName},
    p Your tour booking has been confirmed successfully.
    p You can view your bookings, details, and upcoming trips anytime from your account.
    table.btn.btn-primary(role='presentation', border='0', cellpadding='0', cellspacing='0')
        tbody
            tr
                td(align='left')
                    table(role='presentation', border='0', cellpadding='0', cellspacing='0')
                        tbody
                            tr
                                td
                                    a(href=`${url}`, target='_blank') View my bookings
    p.meta-note Need any changes? Reply to this email and we will help.
    p.last Regards,
        br
        | Santosh and the Natours team
