extends baseEmail


block content
    p.lead Hi #{firstName},
    p We received a request to reset your Natours password.
    .mail-panel.mail-panel--reset
        span.mail-label.mail-label--reset Security Notice
        p Use the reset button below to set a new password.
        p This reset link expires in 10 minutes for your account safety.
        p If this was not you, no action is required.
    table.btn.btn-primary(role='presentation', border='0', cellpadding='0', cellspacing='0')
        tbody
            tr
                td(align='left')
                    table(role='presentation', border='0', cellpadding='0', cellspacing='0')
                        tbody
                            tr
                                td
                                    a(href=`${url}`, target='_blank') Reset password
    p.meta-note For security, this link works one time and then expires.
    p.last Regards,
        br
        | Santosh and the Natours team
